# Ignore virtual environments
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database
db.sqlite3

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git metadata of subprojects
Hackathon_project/.git
